script(src='http://code.jquery.com/jquery-1.7.1.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
script(src="/socket.io/socket.io.js")
script(src="/javascript/script.js")
script(src="/javascript/parsley.js")
script(src="/javascript/garlic.js")
script(src="/javascript/ui.js")

