doctype html
html
  //head
  include ./includes/head
  body
    include ./includes/navigation
    //page content
    block content 
    //footer
    include ./includes/footer
    include ./modals/login
    include ./modals/info
    include ./includes/scripts
