div.modal.fade#modalInfos
    div.modal-header
        h3 Infos
    div.modal-body
        p 	This application has been made with 
            a(href="http://nodejs.org/") Node.js 
            | , 
            a(href="http://socket.io/") Socket.io
            | , 
            a(href="http://expressjs.com/") Express 
            |  
            a(href="http://jade-lang.com/") Jade
            | .
        p   She use 
            a(href="http://twitter.github.com/bootstrap/") Bootstrap 
            | from 
            a(href="https://twitter.com/") Twitter
            | and
            a(hre="http://rocha.la/jQuery-slimScroll") SlimScroll
            | .
        p   The source has been published on Github under MIT license.
        p   This application has been made by 
            a(href="http://geekuillau.me") Guillaume Besson - Geekuillaume
            | .
