div.modal.fade#modalPseudo
    div.modal-header
        h3 Choose a name
    div.modal-body
        p Choose a name :
        input(type='text')#pseudoInput
        div.alert.alert-error#alertPseudo
            | This name is already used ! Choose another one.
    div.modal-footer
        button.btn.btn-primary#pseudoSubmit Go to the chat

