extends ../layout

block content
    .panel.panel-default

        .panel-heading: h3.panel-title Delete Everything you are or ever will be in this chat
        .panel-body
            p We're growing up together, the human race. And we've discovered a lot of things that we didn't know. We're finding our way. Instead of thinking about doomsday all the time, think about how beautiful the world is. We're all together, and together we're getting wiser. - Yoko Ono
